body {
  margin: 0;
  padding: 20px 80px;
  font-family: 'Open Sans Condensed', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

* {
  box-sizing: border-box;
}
